.env
node_modules
backend/.build
frontend/.build

.devcontainer/docker/log/mysql/*
!.devcontainer/docker/log/mysql/.gitkeep

.devcontainer/docker/log/redis/*
!.devcontainer/docker/log/redis/.gitkeep

.devcontainer/docker/log/rabbitmq/*
!.devcontainer/docker/log/rabbitmq/.gitkeep

.devcontainer/docker/vol/mysql/*
!.devcontainer/docker/vol/mysql/.gitkeep

.devcontainer/docker/vol/redis/*
!.devcontainer/docker/vol/redis/.gitkeep

.devcontainer/docker/vol/rabbitmq/*
!.devcontainer/docker/vol/rabbitmq/.gitkeep